@import 'antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  color: rgba(0, 0, 0, 0.88);
  background: #f0f2f5;
  min-height: 100vh;
}

#root {
  max-width: 100%;
  margin: 0 auto;
}
